<section class="advanced">
  <div class="container">

    <h1 class="advanced-heading">Additional BCHD features that make development painless</h1>

    <div class="advancedFeatures">
      <div class="advancedFeature">
        <img src="{{ svg_dir }}advanced.fastsync.svg?{{ version }}" class="img-responsive advancedFeature-img">
        <div class="advancedFeature-text">
          <h2>FastSync</h2>
          <p>Want to get started in a hurry? BCHD now has the option to download a pruned copy of the blockchain. The entire sync takes just over an hour.</p>
        </div>
      </div>
      <div class="advancedFeature">
        <img src="{{ svg_dir }}advanced.indexes.svg?{{ version }}" class="img-responsive advancedFeature-img">
        <div class="advancedFeature-text">
          <h2>Address &amp; UTXO Indexes</h2>
          <p>BCHD provides an index of every address and transaction on the Bitcoin Cash chain. For developers, BCHD is an out-of-the-box solution that just works.</p>
        </div>
      </div>
      <div class="advancedFeature">
        <img src="{{ svg_dir }}advanced.wallet.svg?{{ version }}" class="img-responsive advancedFeature-img">
        <div class="advancedFeature-text">
          <h2>BCH Wallet</h2>
          <p>If your project requires Bitcoin Cash wallet functionality, the backend code is already written for you. Take a look at <a href="https://github.com/gcash/bchwallet" target="_blank">bchwallet<img src="{{ svg_dir }}extlink.svg?{{ version }}" class="extLink"></a> on GitHub.</p>
        </div>
      </div>
    </div>

  </div>
</section>