<section class="github">
  <div class="container">

    <div class="githubLink">
      <a href="https://github.com/gcash/bchd" target="_blank" class="githubLink-link">
        <img src="{{ svg_dir }}github.source.svg?{{ version }}" class="githubLink-icon">
        <h2 class="githubLink-heading">BCHD <img src="{{ svg_dir }}extlink.svg?{{ version }}" class="extLink"></h2>
        <p class="githubLink-text">An alternative full node Bitcoin Cash implementation written in Go</p>
      </a>
    </div>
    <div class="githubLink">
      <a href="https://github.com/gcash/bchwallet" target="_blank" class="githubLink-link">
        <img src="{{ svg_dir }}github.source.svg?{{ version }}" class="githubLink-icon">
        <h2 class="githubLink-heading">BCH Wallet <img src="{{ svg_dir }}extlink.svg?{{ version }}" class="extLink"></h2>
        <p class="githubLink-text">A secure Bitcoin Cash wallet daemon written in Go</p>
      </a>
    </div>
    <div class="githubLink">
      <a href="https://hub.docker.com/r/zquestz/bchd" target="_blank" class="githubLink-link">
        <img src="{{ svg_dir }}github.docker.svg?{{ version }}" class="githubLink-icon">
        <h2 class="githubLink-heading">Docker <img src="{{ svg_dir }}extlink.svg?{{ version }}" class="extLink"></h2>
        <p class="githubLink-text">We've already built the BCHD Docker container for you</p>
      </a>
    </div>

  </div>
</section>
