<section class="slp">
  <div class="container">

    <picture class="slp-img-wrapper">
      <source media="(min-width: 1200px)" srcset="{{ img_dir }}slp.intro-xlarge.jpg?{{ version }}" />
      <source media="(min-width: 992px)" srcset="{{ img_dir }}slp.intro-large.jpg?{{ version }}" />
      <source media="(min-width: 550px)" srcset="{{ img_dir }}slp.intro-medium.jpg?{{ version }}" />
      <source srcset="{{ img_dir }}slp.intro-small.jpg?{{ version }}" />
      <img src="{{ img_dir }}slp.intro-small.jpg" class="img-responsive slp-img" />
    </picture>
    <div class="slp-text">
      <h1 class="slp-heading">Featuring full SLP support</h1>
      <p class="slp-subhead">SLP brings the power of tokens to Bitcoin Cash</p>
      <p>Simple Ledger Protocol (SLP) allows developers to create entirely new asset classes on the BCH blockchain. This
        includes everything from in-game items to company stock shares. We've added full SLP support to
        BCHD&mdash;including SLP Graph Search. This means you can quickly index, validate and query SLP transactions.
      </p>
      <div class="slide-panel-expand-btn">
        <span></span>
        <span></span>
      </div>
      <a role="button" class="slide-btn" data-target="slp">Learn more about SLP</a>
    </div>
    <div id="slp" class="slide-panel">
      <h2 class="slide-heading">Create tokens with Bitcoin Cash.</h2>
      <p>SLP has everything you need to easily issue, transfer and manage your own crypto token. Simple Ledger Protocol
        provides the simplest and fastest token system in existence. SLP tokens can be created in seconds, and
        transactions cost less than a penny.</p>
      <p>For more info, visit <a href="https://simpleledger.cash/" target="_blank">simpleledger.cash</a>.</p>
    </div>

  </div>
</section>