<meta charset="utf-8">
<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{ img_dir }}favicon.ico" type="image/x-icon" />
<meta name="description" content="{{ description }}">
<link rel="canonical" href="{{ base_url }}/{{ path }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ base_url }}/{{ path }}" />
<meta property="og:site_name" content="{{ title }}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:image" content="{{ base_url }}{{ img_dir }}{{ og_img }}" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:image" content="{{ base_url }}{{ img_dir }}{{ og_img }}" />
